
#products > div{
    width: 300px;
    padding: 2px;
    border: 2px solid navy;
    background-color: silver;
    display: block;
    
}

#entry{
	width: 350px;
    padding: 2px;
    border: 2px solid navy;
    border-radius: 25px;
    background-color: silver;
    margin-right: auto;
    margin-left: auto;
}

h1 {
	font-family: Arial;
    font-size: 40px;
    color: navy;

}

h2 {
	font-family: Arial;
    font-size: 30px;
    color: gray;
}
h3 {
	font-family: Arial;
    font-size: 20px;
    color: blue;
}